<ion-content class="content">
  <div>
    <ion-toolbar color='dark' class="bottom" (click)='closeModal()'>
      <h1>Parking Lot: {{parking_number}}</h1>
    </ion-toolbar>

    <ion-grid>
      <ion-row>
        <ion-col col-2 style="margin:auto">
          <div class="circleBase type2">
          </div>
        </ion-col>
        <ion-col>
          <h4> Capacity: <b>{{capacity}}</b></h4>
        </ion-col>

        <ion-col col-2 style="margin:auto">
          <div class="circleBase type2">
          </div>
        </ion-col>
        <ion-col>
          <h4> Spots Left: <b>{{spots_left}}*</b></h4>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid padding='2.5%'> 
      <h2>
        <u style="font-weight:bolder">Parking Demand</u>
      </h2>
      <div style="display: block">
        <canvas baseChart
                [datasets]="barChartData"
                [labels]="barChartLabels"
                [options]="barChartOptions"
                [legend]="barChartLegend"
                [chartType]="barChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)">
        </canvas>
      </div>
    </ion-grid>

    <ion-grid>
      <ion-row>
        <h2>
          <u style="font-weight:bolder">Transit Options:</u>
        </h2>
      </ion-row>
      
      <ion-row>
        <button ion-button color="primary" (click)='presentActionSheet()'>Lyft</button><p>| $5-10  - Get 10% off with code PARKFERN</p>
      </ion-row>

      <ion-row>
        <button ion-button color="divider">Drive</button><p>| Parking $1 hour</p>
      </ion-row>

      <ion-row>
        <button ion-button color="divider">Bike</button><p>| 10 min</p>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>