drawer {

  $height: 200px;
  $width: 200px;

  $brand-color:#9CBF50;

  .toolb{
      background-color: rgb(54, 58, 54);
      color: white;
  }

  .colr{
    color: $brand-color;
  }

  .content{
      //border-radius: 50px;
      height: 40%;
      top: 60%; //distance from top
      position: absolute; 
      display: block;  
  }

  u{
      text-decoration: underline;
      text-decoration-color: $brand-color;
  }

  .bottom{
      border-bottom: 5px solid;
      border-bottom-color: $brand-color;
      background: linear-gradient(to bottom, #b5bdc8 0%,#828c95 36%,#28343b 100%);
      color: white;
  }

  .box {
      width: 300px;
      height: 300px;
      min-width: 100%;
      //border-radius: 5px;
      box-shadow: 0 2px 30px rgba(black, .2);
      background: lighten(#f0f4c3, 10%);
      position: relative;
      overflow: hidden;
      transform: translate3d(0, 0, 0);
    }
  /*
  .wave {
    opacity: .05;
    position: absolute;
    top: 20%;
    left: 50%;
    background: rgb(180, 255, 188);
    min-height: 100%;
    width: 500px;
    height: 500px;
    margin-left: -250px;
    margin-top: -250px;
    transform-origin: 50% 48%;
    border-radius: 43%;
    animation: drift 3000ms infinite linear;
  }
  
  .wave.-three {
    animation: drift 5000ms infinite linear;
  }
  
  .wave.-two {
    animation: drift 7000ms infinite linear;
    opacity: .1;
    background: rgb(245, 245, 188);
  }
  
  .box:after {
    content: '';
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(rgb(195, 255, 176), 1), rgba(#def, 0) 80%, rgba(white, .5));
    z-index: 11;
    transform: translate3d(0, 0, 0);
  }
  
  .title {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
    line-height: 300px;
    text-align: center;
    transform: translate3d(0, 0, 0);
    color: white;
    text-transform: uppercase;
    font-family: 'Playfair Display', serif;
    letter-spacing: .4em;
    font-size: 24px;
    text-shadow: 0 1px 0 rgba(black, .1);
    text-indent: .3em;
  }
  @keyframes drift {
    from { transform: rotate(0deg); }
    from { transform: rotate(360deg); }
  }
  */

  .circleBase {
    border-radius: 50%;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */
  }

  .type2 {
    width: 25px;
    height: 25px;
    background: map-get($colors, primary);
    //border: 3px solid #000;
}

}
